@model OCRC.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
}
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center">Reset Password</h3>
                <hr />
                <form>
                    <div class="form-group">
                        <label>Enter Email:</label>
                        <input type="text" id="email"name ="email"class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>New Password :</label>
                        <input type="password" id="NewPassword"name ="NewPassword" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Confirm Password :</label>
                        <input type="password" id="ConfirmPassword"name ="ConfirmPassword"class="form-control" />                     
                    </div>
                    <button class="btn btn-primary btn-sm center-block">
                        Submit
                    </button>
                </form>
                @Html.ValidationSummary()
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.ReturnToken)
}