<!-- search form -->
<form class="form-inline col-xs-10">
    <div class="form-group ">
        <label for="School" class="sr-only">School</label>
        <input type="text" class="form-control" placeholder="School">
    </div>
    <div class="form-group">
        <label for="Name" class="sr-only">Name</label>
        <input type="text" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="Year" class="sr-only">Year</label>
        <input type="text" class="form-control" placeholder="Year">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<!-- search form end -->
